<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/style.css" rel="stylesheet">
	<header>
		<div class="container-fluid container-fluid col-sm-12 nav-bar">
			<div class="col-sm-6">
				<h1 style="margin-left: 25px;"><b>Website Name</b></h1>
			</div>
			<div>
				<button class="logout-btn btn btn-lg" onclick="window.location.href='/login'"><b><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</b></button>
			</div>
		</div>
	</header>
<body>
	<div class="col-sm-12 container-fluid" style="height: 80px;"></div>
	<div class="col-sm-12 container-fluid" style="height: 577px; background-color: #303030;">
		<div class="col-sm-2" style="background-color: #202020;height:577px;">
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/home'"><b><i class="fa fa-home" aria-hidden="true"></i> Home</b></button>
			<button class="sidebar-btn btn btn-block" href="/racing"><b><i class="fa fa-car" aria-hidden="true"></i> Racing</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/action'"><b><i class="fa fa-bolt" aria-hidden="true"></i> Action</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/openworld'"><b><i class="fa fa-globe" aria-hidden="true"></i> Open World</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/sports'"><b><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/cart'"><b><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/about'"><b><i class="fa fa-users" aria-hidden="true"></i> About</b></button>
		</div>
		<div class="col-sm-10" style="background-color: #303030;height:577px;overflow-y: scroll;">

			<div class="col-sm-12 category-header">
				<h3><b><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</b></h3>
			</div>
			
			<div class="col-sm-6 content-inner" id="clean">
				<div class="col-sm-9 content-image">
					<img scr="">
				</div>
				<div class="col-sm-1">
					<button class="btn btn-danger" style="color:#202020;background-color: #D00000;
					margin-top: 20px;border:1px solid #303030;" onclick="remove();">X</button>
				</div>
				<div class="col-sm-12">
					<h3 style="color: #D00000;overflow: hidden;">Game_name</h3>
					<div class="col-sm-12" style="height: 40px;">
						<div class="col-sm-6" >
							<h3 style="color: #D00000;margin-left:-30px;">Price </h3>
						</div>
						<div class="col-sm-6">
							<button onclick="func1();" class="btn btn-block cart-btn" style="border-radius: 4px;height:40px;"><i class="fa fa-money" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<div class="col-sm-12 container-fluid the-footer">
		
	</div>
	<script type="text/javascript">
		function func1()
		{
			alert("Pay Up!!")
		}
		function remove()
		{
			document.getElementById("clean").style.display="none";
		}
	</script>
</body>
</head>