<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/style.css" rel="stylesheet">
	<header>
		<div class="container-fluid container-fluid col-sm-12 nav-bar">
			<div class="col-sm-6">
				<h1 style="margin-left: 25px;"><b>Website Name</b></h1>
			</div>
			<div>
				<button class="logout-btn btn btn-lg" onclick="window.location.href='/login'"><b><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</b></button>
			</div>
		</div>
	</header>
<body>
	<div class="col-sm-12 container-fluid" style="height: 80px;"></div>
	<div class="col-sm-12 container-fluid" style="height: 577px; background-color: #303030;">
		<div class="col-sm-2" style="background-color: #202020;height:577px;">
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/home'"><b><i class="fa fa-home" aria-hidden="true"></i> Home</b></button>
			<button class="sidebar-btn btn btn-block" href="/racing"><b><i class="fa fa-car" aria-hidden="true"></i> Racing</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/action'"><b><i class="fa fa-bolt" aria-hidden="true"></i> Action</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/openworld'"><b><i class="fa fa-globe" aria-hidden="true"></i> Open World</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/sports'"><b><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/cart'"><b><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</b></button>
			<button class="sidebar-btn btn btn-block" onclick="window.location.href='/about'"><b><i class="fa fa-users" aria-hidden="true"></i> About</b></button>
		</div>
		<div class="col-sm-10" style=";height:577px;background: url('images/product_4.jpg') no-repeat center center ; background-size: cover;">
			<div class="col-sm-12 game-overlay">
				<div class="col-sm-12" style="height:60px;opacity:1;">
					<h1>Game Name</h1>
				</div>
				<div class="col-sm-12" style="height:500px;margin-top: 15px;">
					<div class="col-sm-6" style="height:500px;">
						<div class="col-sm-12" style="height:300px;">
							<img src="images/product_4.jpg" style="border-radius:4px;">
						</div>
						<div class="col-sm-12"style="height: 15px;"></div>
						<h3 style="margin-left: 15px;">Game Publisher:publisher name</h3>
						<h3 style="margin-left: 15px;">Price: ₹ 4000</h3>
						<div class="col-sm-6 col-sm-offset-1">
							<button onclick="window.location.href='/addcart'" class="btn btn-block cart-btn" style="border-radius: 4px;height:40px;font-size: 24px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
						</div>
					</div>
					<div class="col-sm-6"style="height:500px;">
						<h3>Description</h3>
						<h5 style="margin-right: 20px;margin-left: 20px;overflow-wrap: break-word;">
							Desciption space
						</h5>
					</div>
				</div>
			</div>
			

		</div>
	</div>
	<div class="col-sm-12 container-fluid the-footer">
		
	</div>
</body>
</head>
<!-- mcmaster -->