<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/style.css" rel="stylesheet">
	<header>
		<div class="container-fluid container-fluid col-sm-12 nav-bar">
			<div class="col-sm-6">
				<h1 style="margin-left: 25px;"><b>Website Name</b></h1>
			</div>
			<div>
				<button class="logout-btn btn btn-lg" onclick="window.location.href='/register'"><b><i class="fa fa-users" aria-hidden="true"></i> Register</b></button>
				<button class="logout-btn btn btn-lg" onclick="window.location.href='/login'"><b><i class="fa fa-sign-in" aria-hidden="true"></i> Login</b></button>
			</div>
		</div>
	</header>
<body>
	<div class="col-sm-12" style="height: 100px;">
		
	</div>
	<div class="col-sm-9 col-sm-offset-2" style="height: 500px;">
		<div class="col-sm-10 login-header" style="height: 80px">
			<h1><b><i class="fa fa-users" aria-hidden="true"></i> Register<b></h1>
		</div>
		<div class="col-sm-10 login-body" style="height: 600px">
			<form class="form-horizontal myform" method="POST" enctype="multipart/form-data" style="margin-top:60px;" action='/adduser'>
		        <div class="form-group" style="padding-top: 30px;">
		          <div class="col-sm-3" style="background-color: #D00000;border:1px solid #D00000;color:#222;border-radius: 4px ;margin-left: 45px;"><h4>Enter Name</h4>
		          </div>
		          <div class="col-sm-7">
		            <input type="text" class="form-control" name="fname">
		          </div>
		        </div>

		        <div class="form-group" style="padding-top: 30px;">
		          <div class="col-sm-3" style="background-color: #D00000;border:1px solid #D00000;color:#222;border-radius: 4px ;margin-left: 45px;"><h4>Enter Last Name</h4>
		          </div>
		          <div class="col-sm-7">
		            <input type="text" class="form-control" name="lname">
		          </div>
		        </div>

		        <div class="form-group" style="padding-top: 30px;">
		          <div class="col-sm-3" style="background-color: #D00000;border:1px solid #D00000;color:#222;border-radius: 4px ;margin-left: 45px;"><h4>Enter Email</h4>
		          </div>
		          <div class="col-sm-7">
		            <input type="text" class="form-control" name="email">
		          </div>
		        </div>

		        <div class="form-group" style="margin-top: 20px;">
		          <div class="col-sm-3" style="background-color: #D00000;border:1px solid #D00000;color:#222;border-radius: 4px ;margin-left: 45px;"><h4>Enter password</h4>
		          </div>
		          <div class="col-sm-7">
		            <input type="password" class="form-control" name="password" id="pass">
		          </div>
		        </div>

		        <div class="form-group" style="margin-top: 20px;">
		          <div class="col-sm-3" style="background-color: #D00000;border:1px solid #D00000;color:#222;border-radius: 4px ;margin-left: 45px;"><h4>Confirm Password</h4>
		          </div>
		          <div class="col-sm-7">
		            <input type="password" class="form-control" id="repass">
		          </div>
		        </div>

		        

		        <div class="form-group" style="margin-top: 20px;">
		          <div class="col-sm-3" style="margin-left: 300px;">
		            <button name="submit" onclick="func1();" class=" btn-lg btn-block go" style="background-color: #D00000;border:1px solid #D00000;color:#222;" ><i style= "font-size: 24px;" class="fa fa-users" aria-hidden="true"></i>  Register
		            </button>
		          </div>
		        </div>

		        <h1 style="color: #D00000;font-size: 45px;margin-left: 288px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i> <i class="fa fa-twitter-square" aria-hidden="true"></i> <i class="fa fa-linkedin-square" aria-hidden="true"></i></h1>

    		</form>
		</div>
	</div>
	<script >
		function func1()
		{
			var a=document.getElementById("pass").value;
			var b=document.getElementById("repass").value;
			if(a!=b)
			{
				alert("Password Mismatch");
			}
			
		}
	</script>
</body>
</head>
<!-- mcmaster -->